*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.container{
    margin: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}